/* Reset CSS */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}


/* ----------------- Header---------------- */

.header {
    padding: 1rem;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
    z-index: 1000;
    position: relative;
}

.header__retour {
    position: absolute;
    left: 2rem;
    height: 2rem;
    width: 2rem;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #000;
}

.header__logo {
    text-align: center;
    font-family: 'Shrikhand', cursive;
    font-size: 2em;
}

.banniere__image {
    max-width: 100%;
    max-height: 32rem;
    width: 100%;
    object-fit: cover;
    margin: 0;
}


/* ----------------- Header---------------- */

.menu {
    margin: -4rem auto 0 auto;
    border-radius: 2rem 2rem 0 0;
    background-color: #f6f6f6;
    z-index: 1000;
    position: relative;
    max-width: 1280px;
}

.menu__header {
    padding: 1rem 2rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__header__title {
    font-family: Shrikhand, "cursive";
    font-size: 1.5em;
}

.menu__header__btn {
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    border: 0 solid transparent;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    background-color: #000;
}

.menu__header__btn {
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    border: 0 solid transparent;
    padding: 0;
    display: flex;
    cursor: pointer;
    position: relative;
}

.menu__header a .cards_like {
    color: gray;
}

.menu__header a .cards_like_hover {
    display: none;
}

.menu__header a:hover .cards_like {
    display: none;
}

.menu__header a:hover .cards_like_hover {
    display: inline-block;
    color: linear-gradient(180deg, rgba(255, 121, 218, 1) 25%, rgba(147, 86, 220, 1) 100%);
}

.menu__grid {
    display: grid;
}

.menu__section {
    max-width: 100%;
    overflow: hidden;
    padding: 0 1rem;
    margin-top: 1em;
}

.menu__section__title {
    text-transform: uppercase;
    font-size: 1.15em;
    position: relative;
    padding-bottom: .5rem;
    font-weight: 400;
}

.menu__section__title::after {
    content: "";
    width: 3rem;
    height: .25rem;
    background-color: #99e2d0;
    position: absolute;
    left: 0;
    bottom: 0;
}

.menu__item {
    background-color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-radius: .75rem;
    margin: 1rem 0;
    box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
    overflow: hidden;
    cursor: pointer;
    max-width: 100%;
}

.menu__item__text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
}

.menu__item__price {
    font-size: 0.8em;
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: .5rem;
}

.menu__item__title {
    font-size: 1em;
    font-weight: 500;
}

.menu__item__description {
    font-size: 0.8em;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.menu__item__confirmation {
    background-color: #99e2d0;
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .5s;
}
.menu__item:hover .menu__item__confirmation {
    margin-right: -1rem;
}
.menu__item__icon__container {
    height: 1.6rem;
    width: 1.6rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transform: rotate(
180deg);
    transition-duration: .5s;
}
.menu__item:hover .menu__item__icon__container {
    transform: rotate(0);
}
.menu__item__icon {
    color: #99e2d0;
}
.menu__btn__container {
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 3rem 0;
}

.menu__btn {
    border: 0;
    padding: .75rem 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    color: #fff;
    background-color: #686868;
    background-image: linear-gradient(0deg, rgba(147, 86, 220, .9), rgba(255, 121, 218, .9));
    transition-duration: .25s;
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
    cursor: pointer;
}

.menu__btn:hover {
    background-color: #fff;
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 50%);
}

@media(min-width:1280px) {
    .menu__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .menu__entrees{
        grid-area: 1 / 1 / 2 / 2;
    }
    .menu__plats{
        grid-area: 1 / 2 / 2 / 3;
    }
    .menu__desserts{
        grid-area: 1 / 3 / 2 / 4; 
    }
}


/* ----------------- Footer---------------- */

.footer {
    background-color: #353535;
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    padding: 1rem;
    max-width: 1280px;
}

.footer__logo {
    color: #fff;
    font-family: Shrikhand, "cursive";
    font-size: 1.2rem;
    margin: 0 0 1rem;
}

.footer__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__elements {
    margin: .5rem 0;
}

.footer__elements:first-child {
    margin-top: 0;
}

.footer__link {
    color: #fff;
    text-decoration: none;
}

.footer__icon {
    width: 1.2rem;
    margin-right: .5rem;
}